@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/theme.css";
@import "tailwindcss/utilities";

/* Estilo para navegadores basados en WebKit (Chrome, Safari, Edge moderno) */
::-webkit-scrollbar {
  width: 2rem; /* Ancho del scrollbar vertical */
  height: 2rem; /* Altura del scrollbar horizontal */
}

::-webkit-scrollbar-track {
  background: #1f2937; /* Color de fondo (gris oscuro que combina con tu tema) */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4f46e5; /* Color del "thumb" (indigo que coincide con tu tema) */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6366f1; /* Color al pasar el mouse (un tono más claro de indigo) */
}

/* Para Firefox */
* {
  scrollbar-width: thin; /* "auto" o "thin" */
  scrollbar-color: #4f46e5 #1f2937; /* thumb y track */
}
